
/*style pour le jumbotron*/
#mon_jumbo{
    background-image: url("../Images/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: -2px;

}


/*style interieur jumbotron*/
#Titre{
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
   
}
#paragraphe1{
text-align: center;
color: aliceblue;
text-shadow: 2px 2px 3px black;
font-weight: 500;
}

.hr-light{
    
    border: 0;
    border-top: 1px solid;
    color: aliceblue;
    width: 400px;
}


/*fin style jumbotron*/

/*Section*/

div#com
{
        
    background:rgb(243, 243, 243);
 }
 #barre{
   
    border: 0;
    border-top: 2px solid;
    color: rgba(204, 201, 159, 0.801);
    width: 200px;
 }
    

.image
{
    padding-top:30px;
    padding-bottom: 30px;
    padding-right: 150px;
    -webkit-padding-start: 100px;
}

.image2
{
    padding-top:30px;
    padding-bottom: 30px;
    padding-right: 150px;
    -webkit-padding-start: 50px;
}

    
/*Fin section*/

/*Jumbotron 2*/
#banner{
    background-image: url("../Images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;

}
#Titre2{
    text-align: left;
    color: aliceblue;
    padding-top: 50px;
}

/*Fin Jubotron 2*/

/*Footer*/


#footer{
    font-size: x-small;
    display: block;
    padding-left:15px;
}
/*Fin footer*/
